name: unicorndial
description: Easily create your floating menu using horizontal or vertical floating button lists
version: 1.1.5
author: Tiago Martins <tiagojencmartins@gmail.com>
homepage: https://github.com/tiagojencmartins/unicornspeeddial

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true

environment:
  sdk: ">=2.0.0-dev.28.0 <3.0.0"
  flutter: ">=0.1.4 <2.0.0"